.container{
    background-color: #00bfff;
    height: 390px;
    width: 900px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.hero{
    flex-direction: row;
    height: 50px;
    width: 900px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    display: flex;
    list-style-type:none;
    gap: 16px;
}
.active, ul li:hover {
    background-color: antiquewhite;
    border-radius: 4px;
}
.active-:hover {
    background-color: antiquewhite;
    
}
.sub-products,.sub-services, .sub-support, .sub-resources{
    display: none;  
}
ul li:hover .sub-products {
    display: block;
    position: absolute;
    margin-top: 4px;
    margin-left: -6px;
    background-color:#00bfff
}
ul li:hover .sub-products ul {
    display: block;
    margin: 10px;
}
ul li:hover .sub-services {
    display: block;
    position: absolute;
    margin-top: 4px;
    margin-left: -6px;
    background-color:#00bfff
}
ul li:hover .sub-services ul {
    display: block;
    margin: 10px;
}
ul li:hover .sub-support {
    display: block;
    position: absolute;
    margin-top: 4px;
    margin-left: -6px;
    background-color:#00bfff
}
ul li:hover .sub-support ul {
    display: block;
    margin: 10px;
}
ul li:hover .sub-resources {
    display: block;
    position: absolute;
    margin-top: 4px;
    margin-left: -6px;
    background-color:#00bfff
}
ul li:hover .sub-resources ul {
    display: block;
    margin: 10px;
}
.title{
    color: white;
    font-weight: 550;
    font-size: 24px;
    height: 50px;
    width: 130px;
    padding-top: 30px;
    margin-left: 18px;
}
.log-in{
    height:30px;
    width: 60px;
    color: white;
    margin-left: 26px;
}
button{
    height: 40px;
    width: 100px;
    border-radius: 50px;
    border:2px  white;
}
.log-in{
    color: white;
    height: 20px;
    width: 35px;
    padding: 10px;
    padding-left: 60px;
}
.quote{
    color: #00bfff;
    background-color: white;
    font-weight: 400;
    padding-right: 16px;
}
.main{
    color: white;
    font-size: 32px;
    font-weight: 800;
    height: 80px;
    width: 390px;
    margin-left: 26px;
    margin-top: 10px;
}
.info{
   height: 120px;
   width: 290px;
   font-size: smaller;
   color: white;
   margin-left: 26px;
}
.quote2{
    color: black;
    background-color: orange;
    font-weight: 400;
    margin-left: 26px;
    margin-top: 20px;
}

.quote3{
    color: white;
    font-weight: 400;
    background-color: #00bfff;
    border: 2px solid white;
    margin-left: 10px;
    margin-top: 20px;
}

.side{
    display: flex;
    flex-direction: row;
}
.image{
    margin-bottom: 35px;
    margin-left: 30px;
}